/* ===================================== */
/* ============ RESPONSIVE ============= */
/* ===================================== */

/* ===== Tablet & Up (768px+) ===== */
@media (min-width: 48em) {

  /* ======= HERO ======= */
  .hero-buttons {
    flex-direction: row;
    justify-content: center;
    max-width: none;
  }

  /* ======= PROJECTS ======== */
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ======== FOOTER ======== */
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* ==== ANALYSIS RESULTS SECTION ==== */
  .results-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ======= KEY BUSINESS INSIGHTS ======== */
  .insights-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ======= IMPACT ======== */
  .impact-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ======= PROJECT LEARNING ======= */
  .learning-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ==== PROJECT NAVIGATION (NEXT / PREV) ==== */
  /* .project-nav-grid {
    grid-template-columns: 1fr 1fr;
  } */

  /* ===== BUSINESS IMPACT SUMMARY ==== */
  .impact-summary-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* ===== Desktop & Up (1024px+) ===== */
@media (min-width: 64em) {
  .nav {
    position: static;
    transform: none;
    height: auto;
    width: auto;
    background: transparent;
    backdrop-filter: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-list {
    flex-direction: row;
    gap: 3rem;
  }

  .btn-mobile-nav {
    display: none;
  }

  .footer-container {
    grid-template-columns: 1.2fr 1fr;
    align-items: start;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .case-split-grid {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .case-block {
    text-align: left;
  }

  .case-block .section-title {
    text-align: left;
  }

  .case-block:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    padding-left: 4rem;
  }

  /* ==== ANALYSIS RESULTS SECTION ==== */
  .results-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
